{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Main</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/galeri.css' %}">
{% endblock meta %}

{% block content %}
<script type="text/javascript" src="{% static 'js/galeri.js' %}"></script>

<nav>
    <a href="{% url 'arti:index' %}">ARTi</a>
    <a href="{% url 'arti:post_karya' %}">Post Karya</a>
    <a href="{% url 'arti:galeri' %}">Galeri</a>
    <a href="leaderboard/">Leaderboard</a>
    <a href="profileuser/">Profile User</a>
    <div class="topnav-right">
        {% if user.is_superuser %}
        <a class="btn btn-success" href="admin/">Admin</a>
        {% endif %}
        <a class="btn btn-danger" href="{% url 'arti:logout' %}">Logout</a>
    </div>
    <div class="animation start-home"></div>
</nav>

<h3>Galeri</h3>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for karya in karyas %}
        <div id="{{ karya.id }}" class="col-sm-4">
            <div id="hvr-sweep-to-right" class="card h-100" style="margin: 15px 0;">
                <img src="{{ karya.gambar }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{ karya.judul }}</p>
                    <h5 class="card-title">Rp{{ karya.harga }}</h5>
                    <p class="card-text">{{ karya.deskripsi }}</p>
                </div>

                {% if karya.user == user or user.is_superuser %}
                    <div class="card-footer text-center">
                        by you ({{karya.tanggal}})<br>
                        <button class="btn btn-outline-danger btn-lg" onclick="hapusKarya('{{ karya.id }}')">Hapus</button>
                    </div>
                {% else %}
                    <div class="card-footer text-center">
                        by {{karya.user}} ({{karya.tanggal}})
                        <a href="#" class="btn btn-outline-warning btn-lg">Beli</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}