{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Main</title>
{% endblock meta %}

{% block content %}
<nav class="navbar" style="background-color: #e3f2fd;">
    <a href="{% url 'arti:index' %}" class="btn btn-primary">Home</a>
    <a href="{% url 'arti:post_karya' %}" class="btn btn-light">Post Karya</a>
    {% if user.is_superuser %}
        <a href="admin/" class="btn btn-outline-success">Menu Admin</a>
    {% endif %}
    <a href="{% url 'arti:galeri' %}" class="btn btn-warning">Galeri</a>
    <a href="{% url 'arti:logout' %}" class="btn btn-danger">Logout</a>
</nav>
<h3>Galeri</h3>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for karya in karyas %}
        <div class="col-sm-4">
            <div id="hvr-sweep-to-right" class="card h-100" style="margin: 15px 0;">
                <img src="{{ karya.gambar.url }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{ karya.judul }}</p>
                    <h5 class="card-title">Rp{{ karya.harga }}</h5>
                    <p class="card-text">{{ karya.deskripsi }}</p>
                </div>

                {% if karya.user == user %}
                    <div class="card-footer text-center">
                        by you ({{karya.tanggal}})
                        <a href="#" class="btn btn-outline-danger btn-lg">Hapus</a>
                    </div>
                {% else %}
                    <div class="card-footer text-center">
                        by {{karya.user}} ({{karya.tanggal}})
                        <a href="#" class="btn btn-outline-warning btn-lg">Beli</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}