{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Main</title>
{% endblock meta %}

{% block content %}
<nav class="navbar">
    <a href="{% url 'arti:post_karya' %}" class="btn btn-primary">Post Karya</a>
    <a href="{% url 'arti:logout' %}" class="btn btn-danger">Logout</a>
</nav>
<h1>Hello, {{ user }}!</h1>
<h3>ini buat halaman utamanya ya, gess</h3>

<div class="row">
    {% for karya in karyas %}
    <div id="{{ karya.id }}" class="col-sm-12">
        <div class="card text-center">
            <div class="card-body">
                <img src="{{ karya.karya_image }}">
            </div>
        </div>
    </div>`
    {% endfor %}
</div>
{% endblock content %}