body {
    background-image: url('/static/img/bg-index.jpg');
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin-right: 0;
}

.btn {
    margin-left: 20px;
    line-height: 35px;
}

nav {
    position: sticky;
    top: 0;
    background: #34495e;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
    z-index: 1;
}

nav a {
    font-size: 15px;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1) {
    color: white;
    width: 100px;
}

nav a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

nav a:nth-child(2) {
    color: white;
    width: 110px;
}

a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

nav a:nth-child(3) {
    color: white;
    width: 100px;
}

nav a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

nav a:nth-child(4) {
    color: white;
    width: 130px;
}

nav a:nth-child(4):hover~.animation {
    width: 130px;
    left: 310px;
}

nav a:nth-child(5) {
    color: white;
    width: 120px;
}

nav a:nth-child(5):hover~.animation {
    width: 120px;
    left: 440px;
}

nav a:nth-child(6) {
    color: white;
    width: 120px;
}

nav .start-home,
nav a:nth-child(6):hover~.animation {
    width: 120px;
    left: 560px;
}

.topnav-right {
    float: right;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.navbar li {
    padding-right: 10px;
    padding-left: 10px;
}

.judul {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 110%;
    font-size: 80px;
    text-align: center;
    color: #ffffff;
    padding-top: 20vw;
    
}

.deskripsiJudul {
    /* font-family: Josefin Sans; */
    font-style: normal;
    /* font-weight: bold;
    line-height: 110%; */
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    
}

.judul-pesan {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 60px;
    color: #024164;
    /* padding-bottom: 2.344vw ; */
}

.penjelasan {
    font-family: Poppins;
    font-size: 26px;
}

.center {
  /* height:29vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.bagian-text {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 110px;
    /* border: 1px solid red; */
}

.container-tulisan {
    padding-bottom: 40px;
    /* border: 10px solid red; */
}

.card {
    border-radius: 10% !important;

}

.card-img-top {
    border-top-left-radius: 10%; 
    border-top-right-radius: 10% ;
}

/* .btn {
    background-color: skyblue;
     */
/* } */

.btn-donasi {
    color: #ffffff; 
    width: 150px;
    margin: 4px;
}

.nama-reviewer {
    font-size: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    color: #000000;
    bottom: 0;  
}

.pesan-textfield{
    position: absolute;
    width: 75%;
    /* height: 250px; */
    

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-left: 40px;
    margin-right: 30px;
    color: #000000;

    /* border: 2px solid red; */
}

.pesan-nama{
    position: absolute;
    width: 75%;
    height: 95px;
    bottom: 0;
    right: 0;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;

    color: #000000;


    /* border: 2px solid blue; */
}

.kananin{
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.judulDanaTerkumpul {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 60px;
    color: #024164;
    margin-top: 90px;
}

.danaTerkumpul {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 50px;
    color: #772E25;
    margin-top: 90px;
}

.namaProgramListDonatur {
    font-family: Josefin Sans;
    margin-bottom: 50px;
    color: #772E25;
}

.judulDonasiBerhasil {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 60px;
    color: #024164;
    margin-top: 150px;
    margin-bottom: 20px;
}

.judulProgramFormulir {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 33px;
    color: #024164;
    margin-top: 40px;
}

.fotoDetailDonasi {
    margin-top: 40px;
    width: 80%;
    border-radius: 20px;
}

.belum-ada{
    font-size: 20px;
    font-family: Josefin Sans;
    background-color: #197278;
    color: white;
}

