{% extends 'base.html' %}
{% load static %}

{% block headone %}
<title>Riwayat</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/riwayat.css' %}">
<script src="{% static '/js/pesan.js' %}"></script>
{% endblock %}


{% block content %}
<!-- Navbar -->
<nav>
    <a href="{% url 'arti:index' %}">ARTi</a>
    <a href="{% url 'arti:post_karya' %}">Post Karya</a>
    <a href="{% url 'arti:galeri' %}">Galeri</a>
    <a href="leaderboard/">Leaderboard</a>
    <a href="profileuser/">Profile User</a>
    <a href="#">Riwayat</a>
    <div class="topnav-right">
        {% if user.is_superuser %}
        <a class="btn btn-success" href="admin/">Admin</a>
        {% endif %}
        <a class="btn btn-danger" href="{% url 'arti:logout' %}">Logout</a>
    </div>
    <div class="animation start-home"></div>
</nav>

<!-- Bagian Riwayat -->
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-12">

            <div></div>
            <h1 class="judulDanaTerkumpul center">Donasi Terkumpul</h1>
            <br>
                <div class="container">
                    {% if donasi_terkumpul.donatur.all.count == 0 %}
                    <h3 class="belum-ada center">Belum ada donasi terkumpul</h3>
                    {% else %}
                    <h3 class="danaTerkumpul center">Rp. {{ donasi_terkumpul }}</h3>
                    {% endif %}
                </div>
            <br>
        </div>

    </div>
</div>
<div style="height: 50px;"></div>



<!-- Bagian Pesan -->
<div class="container-tulisan">
    <div class="bagian-text" id="divpesan">
        <p class="judul-pesan">Pesan</p>
        <div class="row" id="kumpulan-pesan">
            {% for pesan in pesans %}
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 300px; margin-top: 20px; margin-left: 35px;">
                    <div class="card-body">
                        <div class="pesan-textfield">
                            <p style="padding-top: 30px;">{{ pesan.isi }}</p>
                        </div>
                        <div class="pesan-nama">
                            <p style="right: 100px; position: absolute;">- {{ pesan.nama }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bagian-text">
        {%if user.is_authenticated%}
        <p class="judul-pesan">Berikan Pesan</p>
        <!-- <form action="/riwayat/" method="POST"> -->
        
            {% csrf_token %}
            <p>
                <textarea name="isi" cols="40" rows="10" class="form-control" maxlength="100"
                    placeholder="Masukkan pesan anda" required="" id="id_isi"></textarea>
            </p>
            <p id="lettercount"></p>
            <div class="kananin">
                <button class="btn btn-primary rounded-pill btn-donasi" id="tombol-kirim">Kirim</button>
            </div>

        <!-- </form> -->
        {% else %}
        <p class="judul-pesan" style="font-size: 30px; color: black;"><a href="/login/">login</a> untuk memberikan
            pesan</p>
        {% endif %}
    </div>
</div>


<!-- uwu -->
{% endblock %}
